using './main.bicep'
param prefix = 'pcip'
param environmentName = 'dev'
param appServiceSku = 'B1'
param postgresSku = 'Standard_B1ms'
param postgresTier = 'Burstable'
param containerImageTag = '0.6.0'
param postgresAdminUser = 'pcipadmin'
param postgresAdminPassword = '<secure-value>'
param secretKey = '<secure-value>'
param defenderWebhookSecret = '<secure-value>'
param entraTenantId = '<tenant-id>'
param entraClientId = '<application-client-id>'
param entraClientSecret = '<client-secret>'
param entraAllowedDomains = 'politisconsulting.co.uk'
param entraDefaultOrganisationSlug = 'politis'
param runMigrations = true
